apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
    - name: Tempo
      type: tempo
      access: proxy
      url: http://tempo.monitoring.svc:3200
      version: 1
      editable: true

    - name: Loki
      type: loki
      access: proxy
      url: http://loki.monitoring.svc:3100
      version: 1
      editable: true
      isDefault: true
      jsonData:
        derivedFields:
          # 로그에서 "traceId: xxxx" 패턴을 찾도록 정규식 수정
          - datasourceUid: Tempo
            matcherRegex: "traceId: (\\w+)"
            name: TraceID
            url: "$${__value.raw}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: grafana
  replicas: 1
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:10.2.0
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources
      volumes:
        - name: grafana-datasources
          configMap:
            name: grafana-datasources
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000
